

<h2>Nuestro equipo de desarrollo</h2>

<div class="nosotros-cards">
    
    <div class="card-persona">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/nosotros/pj1.jpg" class="card-img-top" alt="..."> 
            <div class="card-body">
                <h5 class="card-title">Juan Perez</h5>
                <p class="card-text">Lorems ipsum dolor sit amet consectetur adipisicing elit. Nobis quae aut tenetur eum tempora  </p>
            </div>
        </div>
    
    </div>

    <div class="card-persona">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/nosotros/pj2.jpg" class="card-img-top" alt="..."> 
            <div class="card-body">
                <h5 class="card-title">Ana Calva</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quae aut tenetur eum tempora  </p>
            </div>
        </div>
    
    </div>

    <div class="card-persona">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/nosotros/pj3.jpg" class="card-img-top" alt="..."> 
            <div class="card-body">
                <h5 class="card-title">Johan Pachon</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quae aut tenetur eum tempora  </p>
            </div>
        </div>
    
    </div>

</div>