<div class="fondo">
    <div class="formulario">
        <h2 class="titulo">
            Contacto
        </h2>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
            </span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">example.com</span>
          </div>
    
          <br>
          <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <br>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
    </div>

</div>