<main class="main-home">

  <section class="home-inicio">
    <div class="descripcion">
      <p class="titulo">
        Pagina de Publicaciones
      </p>
      <p class="subtitulo">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum molestias a accusantium aliquid mollitia iure tempora delectus similique velit fugiat excepturi nostrum minima neque quod facilis beatae, qui nisi sed!
      </p>
    </div>
    <div class="imagen-home">
      <img src="../../../assets/home/imagen1.png" alt="">
    </div>


  </section>
</main>